<% content_for(:app_title, @app_title) %>
<% content_for(:current_app_title, @current_app_title) %>

<% content_for :content do %>
    <h1>New Todo</h1>
    <%= render 'form', todo: @todo %>
    <%= link_to 'Back', todos_path %>
<% end %>